img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 
}
.foto{
    width: 33.3%;
    height: 280px;
    border: 1px solid black;
}